<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Nasrudin Salim Suden CV">
    <meta name="keywords" content="Nasrudin, Nasrudin Salim, Nasrudin Bin Salim, Nasrudin Salim Suden, Nasdin, data science, data scientist, data engineer, trader, forex, machine learning, AI, artificial intelligence, supervised learning, unsupervised learning, reinforcement learning, deep learning, sql, databases, Nasdin94">
    <meta name="author" content="Nasrudin Salim">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:500|Raleway" rel="stylesheet">
	<title>{{ site.title | escape }}</title>

	<link rel="icon" type="image/png" href="./img/favicon.png">

	<!--  WebFonts  -->
	<link href="./css/css" rel="stylesheet" type="text/css">

	<!-- Twitter Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Core StyleSheet -->
	<link rel="stylesheet" type="text/css" href="./css/main_style.css">
	<link rel="stylesheet" type="text/css" href="./css/bootstrap-override.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106147156-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-106147156-1');
</script>

</head>
