<div id="skillsBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-skills">Buzzwords</h1>
	</div>
	<div class="content-rounded-panel">

		<div id="skills">
			{% for skill in site.skillset1 %}
			 
				<span class="label label-info label-padded"> {{skill}} </span> &nbsp;  
				
			{% endfor %}

			{% for skill in site.skillset2 %}
			
			   <span class="label label-info1 label-padded"> {{skill}} </span> &nbsp;  
			   
		   {% endfor %}

		   {% for skill in site.skillset3 %}
		   
			  <span class="label label-info2 label-padded"> {{skill}} </span> &nbsp;  
			  
		  {% endfor %}

		  {% for skill in site.skillset4 %}
		  
			 <span class="label label-info3 label-padded"> {{skill}} </span> &nbsp;  
			 
		 {% endfor %}

			
		</div>
	</div>
</div>
