<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
		 	<br/>
			I enjoy Data Science, Machine Learning, Financial Markets and Programming <br/> <br/>
			I am the <i>Co-Founder and <strong>COO</strong> of Chatoyance Capital Management</i>,<br/> I am also the <strong>CIO/CFO</strong> of <i>LiquidityMagnate</i>, which also includes, <i>WanChat, VIPQueue</i> and <i>Event Penguins</i> as the organization structure consists of 40 staff, where 20~ core staff work across these companies.<br><br>
			I've also experience in an enterprise, I worked as a <strong>Software Engineer</strong> in <i>SkillTec and UTETech</i>, its sister company.
			<br>I enjoy working in startups, fintech, with the financial markets as well as machine learning and AI applications such as in Chatoyance or LiquidityMagnate. <br/><br/>
			I am a consultant during my freetime as I enjoy solving problems, my first overseas consultation was in Indonesia, back when I was 17 to setup using <i>Excel, VBA, SQL</i> database a cloud process-flow and productivity management and database solution <br/><br/>
			I enjoy and am <b>very</b> passionate about coding, data science, machine learning, the financial markets and solving problems. If I don't need to eat, feed another or need to afford a place to stay, I'd probably be doing this<i> for free</i>. <br/> <br/>I've worked mostly in <strong><i>VBA, C, C++ and Python</i></strong>. 
			I've dwelved in the financial markets ever since I was 14, having memorized many classic books, learned technical analysis, fundamental and volume based and quantitative techniques. As well as exploring the depths of mathematics in trader and portfolio money management. <br/> <br>
			I'm highly passionate about analyzing and solving problems. I enjoy autonomy and can find own work, problems to do, and solutions without being asked. <br/>
			I'm comfortable with working with <i>SQL, Non-relational databases, No-SQL, Python, bayes modelling, various machine learning applications: from supervised, unsupervised, deep learning to reinforcement learning, Naive Bayes/bayesian networks/analysis,</i> 
		</div>
		
					
		<br>
	</div>
</div>
