<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
		 	<br/>
			Accomplished analytics professional, entrepreneur and leader with demonstrated ability to utilize data to grow businesses. Experience in all facets of data to include data science, operational analytics, product optimization and financial markets analysis. Track record of building dynamic teams, interacting with partners, senior executives of partner companies and lifting businesses with data products and actionable analytics. Loves challenges and learning new complex things.
		</div>
		
					
		<br>
	</div>
</div>
